Repository waku-py/waku: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, lint, typecheck

.pre-commit-config.yaml:

default_install_hook_types: [ pre-commit, pre-push, commit-msg ]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args: [ '--branch', 'master' ]
      - id: check-yaml
        args: [ '--unsafe' ]
      - id: check-toml
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: '^uv\.lock$'

  - repo: local
    hooks:
      - id: commit-msg
        name: check commit message
        stages: [ commit-msg ]
        language: system
        entry: gitlint --msg-filename
        fail_fast: true

      - id: uv-lock-check
        name: uv-lock-check
        entry: uv lock --locked
        language: system
        pass_filenames: false
        files: '^pyproject\.toml$'
        fail_fast: true

      - id: lint
        name: lint
        entry: task lint -- --output-format=concise
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true

      - id: typecheck
        name: typecheck
        entry: env MYPY_PRETTY=0 task typecheck
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true

      - id: deptry
        name: deptry
        entry: task deptry
        language: system
        pass_filenames: false
        fail_fast: true

chore(ci): try fix ci
  .github/workflows/ci.yml
Due: none

feat: implement di & mediator extension
  .github/workflows/publish.yml
  .gitignore
  Taskfile.yml
  examples/mediator.py
  pyproject.toml
  src/lattice/application.py
  src/lattice/contrib/__init__.py
  src/lattice/contrib/asgi.py
  src/lattice/contrib/litestar.py
  src/lattice/di/__init__.py
  src/lattice/di/_context.py
  src/lattice/di/_inject.py
  src/lattice/di/_markers.py
  src/lattice/di/_providers.py
  src/lattice/di/_types.py
  src/lattice/di/_utils.py
  src/lattice/di/contrib/aioinject.py
  src/lattice/di/contrib/dishka.py
  src/lattice/ext/extensions.py
  src/lattice/ext/mediator/__init__.py
  src/lattice/ext/mediator/exceptions.py
  src/lattice/ext/mediator/extensions.py
  src/lattice/ext/mediator/handlers/__init__.py
  src/lattice/ext/mediator/handlers/dispatcher.py
  src/lattice/ext/mediator/handlers/handler.py
  src/lattice/ext/mediator/handlers/map.py
  src/lattice/ext/mediator/mediator.py
  src/lattice/ext/mediator/middlewares.py
  src/lattice/ext/mediatr/middlewares.py
  src/lattice/extensions.py
  src/lattice/modules.py
  src/lattice/validation.py
  uv.lock
Due: uv-lock-check, lint, typecheck

fix: module validation
  Taskfile.yml
  src/lattice/validation.py
  tests/mock.py
  tests/test_module.py
  tests/test_validation.py
Due: lint, typecheck

feat: improve app & di lifespan, add check for app providers
  examples/mediator.py
  pyproject.toml
  src/lattice/application.py
  src/lattice/contrib/asgi.py
  src/lattice/contrib/litestar.py
  src/lattice/di/_inject.py
  src/lattice/di/_providers.py
  src/lattice/di/contrib/aioinject.py
  src/lattice/di/contrib/dishka.py
  src/lattice/ext/extensions.py
  src/lattice/ext/mediator/extensions.py
  src/lattice/ext/validation.py
  tests/mock.py
  tests/test_validation.py
  uv.lock
Due: uv-lock-check, lint, typecheck

feat: improve providers validation & add imports to init files
  .github/workflows/ci.yml
  examples/mediator.py
  src/lattice/__init__.py
  src/lattice/application.py
  src/lattice/di/_providers.py
  src/lattice/di/_utils.py
  src/lattice/ext/__init__.py
  src/lattice/ext/mediator/__init__.py
  src/lattice/ext/mediator/extensions.py
  src/lattice/ext/mediator/middlewares.py
  src/lattice/ext/validation.py
  src/lattice/extensions.py
  src/lattice/module.py
  tests/test_validation.py
Due: lint, typecheck

feat: add providers registration, fix validation
  src/lattice/application.py
  src/lattice/di/_utils.py
  src/lattice/ext/validation.py
  src/lattice/module.py
  tests/mock.py
  tests/test_validation.py
Due: lint, typecheck

feat: make application module itself, improve aioinject provider
  src/lattice/application.py
  src/lattice/di/_providers.py
  src/lattice/di/contrib/aioinject.py
  src/lattice/ext/mediator/extensions.py
  src/lattice/ext/mediator/middlewares.py
  src/lattice/ext/validation.py
  src/lattice/module.py
  tests/mock.py
Due: lint, typecheck

feat: add semantic release, rename package
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  examples/mediator.py
  pyproject.toml
  src/lattice/__init__.py
  src/lattice/di/__init__.py
  src/lattice/ext/mediator/__init__.py
  src/waku/__init__.py
  src/waku/application.py
  src/waku/contrib/__init__.py
  src/waku/contrib/asgi.py
  src/waku/contrib/litestar.py
  src/waku/di/__init__.py
  src/waku/di/_context.py
  src/waku/di/_inject.py
  src/waku/di/_markers.py
  src/waku/di/_providers.py
  src/waku/di/_types.py
  src/waku/di/_utils.py
  src/waku/di/contrib/__init__.py
  src/waku/di/contrib/aioinject.py
  src/waku/ext/__init__.py
  src/waku/ext/mediator/__init__.py
  src/waku/ext/mediator/exceptions.py
  src/waku/ext/mediator/extensions.py
  src/waku/ext/mediator/handlers/__init__.py
  src/waku/ext/mediator/handlers/dispatcher.py
  src/waku/ext/mediator/handlers/handler.py
  src/waku/ext/mediator/handlers/map.py
  src/waku/ext/mediator/mediator.py
  src/waku/ext/mediator/middlewares.py
  src/waku/ext/validation.py
  src/waku/extensions.py
  src/waku/module.py
  src/waku/py.typed
  tests/mock.py
  tests/test_validation.py
  uv.lock
Due: uv-lock-check, lint, typecheck

0.1.0
  CHANGELOG.md
Due: none

feat(validation): add ValidationRule protocol, implement DIScopeMismatch validation rule
  src/waku/di/_providers.py
  src/waku/ext/__init__.py
  src/waku/ext/validation.py
  src/waku/ext/validation/__init__.py
  src/waku/ext/validation/_abc.py
  src/waku/ext/validation/_errors.py
  src/waku/ext/validation/_extension.py
  src/waku/ext/validation/rules.py
  tests/validation/__init__.py
  tests/validation/conftest.py
  tests/validation/test_dependencies_accessible.py
  tests/validation/test_scope_mismatch.py
Due: lint, typecheck

ignore PLR6301 error
  Taskfile.yml
  src/waku/ext/validation/rules.py
Due: lint, typecheck

Merge pull request #2
  Taskfile.yml
  src/waku/di/_providers.py
  src/waku/ext/__init__.py
  src/waku/ext/validation.py
  src/waku/ext/validation/__init__.py
  src/waku/ext/validation/_abc.py
  src/waku/ext/validation/_errors.py
  src/waku/ext/validation/_extension.py
  src/waku/ext/validation/rules.py
  tests/validation/__init__.py
  tests/validation/conftest.py
  tests/validation/test_dependencies_accessible.py
  tests/validation/test_scope_mismatch.py
Due: lint, typecheck

chore(deps): use litestar-msgspec with litestar extra on all python version
  pyproject.toml
  uv.lock
Due: uv-lock-check

0.1.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

ci: setup github actions pipelines
  .gitattributes
  .github/dependabot.yaml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
  pyproject.toml
  src/waku/__init__.py
  src/waku/domain/__init__.py
  src/waku/domain/entities.py
  uv.lock
Due: uv-lock-check, lint, typecheck

ci: fix semantic release step
  .github/workflows/release.yml
Due: none

ci: fix semantic release step 2
  .github/workflows/release.yml
  pyproject.toml
Due: uv-lock-check

0.1.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

build: make patch release only for `fix` & `perf` tags
  pyproject.toml
Due: uv-lock-check

chore: add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

docs: add readme and contributing guide
  CONTRIBUTING.md
  README.md
Due: none

ci: use github app to bypass branch protection, auto assign issues & prs
  .github/workflows/auto-assign.yml
  .github/workflows/release.yml
Due: none

ci: add gitlint step
  .github/workflows/validate.yml
Due: none

ci: adjust validate pipeline
  .github/dependabot.yaml
  .github/workflows/validate.yml
  Taskfile.yml
  renovate.json
Due: none

ci: fix gitlint step
  .github/workflows/validate.yml
  Taskfile.yml
  gitlint_plugins.py
Due: lint, typecheck

chore(deps): upgrade deps, configure lock file maintenance
  .github/renovate.json
  renovate.json
  uv.lock
Due: none

chore(deps): actualize pyproject and version in init
  pyproject.toml
  src/waku/__init__.py
  uv.lock
Due: uv-lock-check, lint, typecheck

fix(ext): make mediator middlewares work
  examples/mediator.py
  src/waku/ext/mediator/exceptions.py
  src/waku/ext/mediator/handlers/dispatcher.py
  src/waku/ext/mediator/handlers/handler.py
  src/waku/ext/mediator/handlers/map.py
  src/waku/ext/mediator/middlewares.py
  src/waku/ext/validation/rules.py
Due: lint, typecheck

ci: attempt to fix semantic release
  .github/workflows/release.yml
Due: none

0.1.3
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

ci: persist app token for tag steps
  .github/workflows/release.yml
Due: none

ci: don't run gitlint for github-actions actors
  .github/workflows/validate.yml
Due: none

fix: attempt to fix contextvar from different context error
  examples/mediator.py
  src/waku/application.py
  src/waku/di/_providers.py
  src/waku/di/contrib/aioinject.py
  tests/mock.py
Due: lint, typecheck

0.1.4
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix: remove unused version var from init, run gitlint only for prs
  .github/workflows/validate.yml
  pyproject.toml
  src/waku/__init__.py
Due: uv-lock-check, lint, typecheck

0.1.5
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix: skip ci in release commit
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
  gitlint_plugins.py
  pyproject.toml
Due: uv-lock-check, lint, typecheck

chore(release): 0.1.6 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

ci: remove numOfAssignee from auto-assign workflow
  .github/workflows/auto-assign.yml
Due: none

ci: remove auto-assign action
  .github/workflows/auto-assign.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none
