Repository waku-py/waku: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, lint, typecheck

.pre-commit-config.yaml:

default_install_hook_types: [ pre-commit, pre-push, commit-msg ]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args: [ '--branch', 'master' ]
      - id: check-yaml
        args: [ '--unsafe' ]
      - id: check-toml
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: '^uv\.lock$'

  - repo: local
    hooks:
      - id: commit-msg
        name: check commit message
        stages: [ commit-msg ]
        language: system
        entry: gitlint --msg-filename
        fail_fast: true

      - id: uv-lock-check
        name: uv-lock-check
        entry: uv lock --locked
        language: system
        pass_filenames: false
        files: '^pyproject\.toml$'
        fail_fast: true

      - id: lint
        name: lint
        entry: task lint -- --output-format=concise
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true

      - id: typecheck
        name: typecheck
        entry: env MYPY_PRETTY=0 task typecheck
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true

      - id: deptry
        name: deptry
        entry: task deptry
        language: system
        pass_filenames: false
        fail_fast: true

docs: deploy mkdocs to github pages #17
  .github/changed-files-spec.yml
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
  docs/index.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check

ci: fix docs workflow permissions #17
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
Due: none

ci: fix workflow deps #17
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/index.md
Due: none

ci: fix docs deploy step #17
  .github/workflows/deploy-docs.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check

ci: fix docs deploy step 2 #17
  .github/workflows/deploy-docs.yml
Due: none

docs: trigger docs deploy #17
  docs/index.md
Due: none

docs: use org bot for pages deploy #17
  .github/workflows/deploy-docs.yml
  docs/index.md
Due: none

ci: provide secrets for deploy docs workflow #17
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  docs/index.md
Due: none

ci: inherit secrets for docs workflow #17
  .github/workflows/release.yml
  docs/index.md
Due: none

chore(deps): remove msgspec package override
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs: improve readme and contributing guide
  CONTRIBUTING.md
  README.md
Due: none

ci: tweak renovate configuration
  .github/renovate.json
Due: none

chore: fix docs links in readme
  README.md
Due: none

chore: improve dev tooling
  .pre-commit-config.yaml
  Taskfile.yml
Due: none

ci: run tests if build files changed
  .github/workflows/validate.yml
Due: none

chore: adjust readme
  README.md
Due: none

chore: improve feature & issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

ci: tweak github actions
  .github/changed-files-spec.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check

ci: use pre-commit in ci
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
  .pre-commit-config.yaml
  Taskfile.yml
  pyproject.toml
Due: uv-lock-check

feat: refactor mediator extension, add events handling support
  examples/mediator.py
  pyproject.toml
  src/waku/application.py
  src/waku/di/__init__.py
  src/waku/di/_context.py
  src/waku/di/_providers.py
  src/waku/di/_utils.py
  src/waku/di/contrib/aioinject.py
  src/waku/ext/__init__.py
  src/waku/ext/mediator/__init__.py
  src/waku/ext/mediator/contracts/__init__.py
  src/waku/ext/mediator/contracts/event.py
  src/waku/ext/mediator/contracts/request.py
  src/waku/ext/mediator/events/__init__.py
  src/waku/ext/mediator/events/handler.py
  src/waku/ext/mediator/events/map.py
  src/waku/ext/mediator/events/publish.py
  src/waku/ext/mediator/exceptions.py
  src/waku/ext/mediator/extensions.py
  src/waku/ext/mediator/handlers/dispatcher.py
  src/waku/ext/mediator/mediator.py
  src/waku/ext/mediator/middlewares.py
  src/waku/ext/mediator/requests/__init__.py
  src/waku/ext/mediator/requests/handler.py
  src/waku/ext/mediator/requests/map.py
  src/waku/ext/validation/_abc.py
  src/waku/ext/validation/_extension.py
  src/waku/ext/validation/rules.py
  src/waku/extensions.py
  src/waku/module.py
  src/waku/seedwork/__init__.py
  src/waku/seedwork/entities.py
  tests/conftest.py
  tests/mock.py
  tests/test_application.py
  tests/validation/conftest.py
  tests/validation/test_dependencies_accessible.py
  tests/validation/test_scope_mismatch.py
  uv.lock
Due: uv-lock-check, lint, typecheck

feat: eliminate maps usage in mediator
  pyproject.toml
  src/waku/di/_providers.py
  src/waku/ext/mediator/_utils.py
  src/waku/ext/mediator/events/map.py
  src/waku/ext/mediator/extensions.py
  src/waku/ext/mediator/mediator.py
  src/waku/ext/mediator/requests/map.py
Due: uv-lock-check, lint, typecheck

docs: add docstrings to mediator related stuff
  src/waku/ext/mediator/events/map.py
  src/waku/ext/mediator/exceptions.py
  src/waku/ext/mediator/extensions.py
  src/waku/ext/mediator/mediator.py
  src/waku/ext/mediator/requests/map.py
  tests/test_module.py
Due: lint, typecheck

chore: add basedpyright
  .github/workflows/validate.yml
  Taskfile.yml
  pyproject.toml
  pyrightconfig.json
  src/waku/contrib/litestar.py
  src/waku/di/_utils.py
  src/waku/ext/mediator/mediator.py
  src/waku/ext/validation/rules.py
  src/waku/module.py
  uv.lock
Due: uv-lock-check, lint, typecheck

chore: move app args to config class
  README.md
  examples/mediator.py
  src/waku/__init__.py
  src/waku/application.py
  src/waku/di/contrib/aioinject.py
  src/waku/ext/mediator/events/publish.py
  src/waku/extensions.py
  src/waku/module.py
  tests/test_application.py
  tests/validation/test_dependencies_accessible.py
  tests/validation/test_scope_mismatch.py
Due: lint, typecheck

chore(release): 0.2.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

refactor: rework extensions system
  examples/mediator.py
  src/waku/__init__.py
  src/waku/_lifespan.py
  src/waku/_utils.py
  src/waku/application.py
  src/waku/ext/__init__.py
  src/waku/ext/mediator/extensions.py
  src/waku/extensions.py
  src/waku/module.py
  tests/test_application.py
Due: lint, typecheck

feat: refactor module system
  examples/mediator.py
  gitlint_plugins.py
  pyproject.toml
  src/waku/_lifespan.py
  src/waku/application.py
  src/waku/ext/mediator/extensions.py
  src/waku/ext/validation/_extension.py
  src/waku/ext/validation/rules.py
  src/waku/extensions.py
  src/waku/graph.py
  src/waku/module.py
  tests/validation/test_scope_mismatch.py
  uv.lock
Due: uv-lock-check, lint, typecheck

feat: refactor module system
  README.md
  examples/__init__.py
  examples/mediator.py
  examples/modules.py
  gitlint_plugins.py
  pyproject.toml
  src/waku/__init__.py
  src/waku/_lifespan.py
  src/waku/_utils.py
  src/waku/application.py
  src/waku/container.py
  src/waku/contrib/asgi.py
  src/waku/contrib/litestar.py
  src/waku/ext/__init__.py
  src/waku/ext/mediator/extensions.py
  src/waku/ext/mediator/middlewares.py
  src/waku/ext/validation/_extension.py
  src/waku/ext/validation/rules.py
  src/waku/extensions.py
  src/waku/factory.py
  src/waku/graph.py
  src/waku/module.py
  src/waku/modules/__init__.py
  src/waku/modules/module.py
  src/waku/modules/types.py
  src/waku/modules/utils.py
  src/waku/seedwork/__init__.py
  src/waku/seedwork/entities.py
  tests/test_application.py
  tests/test_module.py
  tests/validation/test_dependencies_accessible.py
  tests/validation/test_scope_mismatch.py
  uv.lock
Due: uv-lock-check, lint, typecheck

chore(release): 0.3.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix: do not unwrap generic annotations in `collect_dependencies`
  .github/workflows/validate.yml
  pyproject.toml
  src/waku/di/_providers.py
  src/waku/di/_utils.py
  uv.lock
Due: uv-lock-check, lint, typecheck

chore(release): 0.3.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

chore(deps): update psr version in github actions
  .github/workflows/validate.yml
Due: none

ci: update pipelines to match psr
  .github/workflows/release.yml
  .github/workflows/validate.yml
  .github/workflows/verify_upstream.sh
Due: none

chore(deps): set deps versions in pyproject.toml according to lock file
  pyproject.toml
  uv.lock
Due: uv-lock-check
